{% extends 'static/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href ="{% static 'css/bootstrap.min.css' %}" type="type/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <a href="{% url 'news' %}" class="text-decoration-none text-dark">&#8592; Вернуться на главный экран</a>
    <p class="h2 text-center mt-3 mb-3 ">Введение</p>
<div style="width:100%; height:550px; position:relative" class="mt-2 container rounded border border-dark bg-white ">


<ul id="progress" class="mt-2">
   <a href="{% url 'intro' %}" class="text-decoration-none text-white"> <li >1</li></a>
   <a href="{% url 'intro2' %}" class="text-decoration-none text-white"> <li class="active">2</li></a>
    <a href="{% url 'intro3' %}" class="text-decoration-none text-white"><li >3</li></a>
</ul>
<p style ="text-indent: 20px;" class="mt-5">
    Перечислим общие особенности якутского языка, с которыми ноебходимо ознакомиться перед изучением.
</p>
    <p style ="text-indent: 20px;">
    1. По своему строю якутский язык относится к "агглютинативным" языкам:
    все окончания прилепляются друг к другу справа. Слово, особенно глагол может иметь несколько суффиксов, окончаний (всех их называют аффиксами),
    которые прилепляются по определенному порядку: сначала идут словообразующие окончания, затем идут грамматические окончания.
    </p>
    <p style ="text-indent: 20px;">
    2. В пределах каждого слова действует закон гармонии гласных звуков. По этому закону якутское слово, какое бы длинное оно ни было,
    имеет постояное и строго следующих друг за другом несколько гласных звуков, которые определяются или первым гласным корня, или гласным предыдущего слога. Так, если в первом слоге стоит гласный а,
    то последующие слоги должны иметь только а или ы и никакие другие гласные стоять не могут.
    </p>
    <p style ="text-indent: 20px;">
    3. Употребление согласных звуков в слове так же подчинено жестким законам или, как принято говорить, имеет свои строгие нормы и правила.
    Так в кореных якутских словах некоторые согласные не употребляются в начале и в конце слов, внутри слова не допускается сочетание более двух
    согласных, в начале и в конце слов вообще не могут стоять рядом два согласных звука, многие
    согласные "терпеть не могут" друг друга рядом и т.д.
    </p>
    <p style ="text-indent: 20px;">
    4. Имеются некоторые общие категории в грамматике, которые не имеют точного соответствия в русском языке.
    Это например, категория  принадлежности, которая выражается особыми аффиксами, она показывает, кому принадлежит
    данный предмет: "ытым" (моя собака), "аттарбыт" (наши лошади).
    </p>
    <p style ="text-indent: 20px;">
    5. В якутском языке нет категории рода и следовательно, специальных родовых окончаний.
    С точки зрения русского языка все слова якутского языка - это слова общего рода: любое слово относится и к мужскому, и к женскому и к среднему роду.
    </p>
    <p style ="text-indent: 20px;">
        6. Слова в предложении обычно имеют постоянный, твердый порядок: подлежащее стоит перед сказуемым, иначе говоря,
    глагол-сказуемое обычно занимает в предложении последнее место.
    </p>


</div>
{% endblock content %}