{% extends 'static/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href ="{% static 'css/bootstrap.min.css' %}" type="type/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <a href="{% url 'news' %}" class="text-decoration-none text-dark">&#8592; Вернуться на главный экран</a>
    <p class="h2 text-center mt-3 mb-3 ">Введение</p>
<div style="width:100%; height:650px; position:relative" class="mt-2 container rounded border border-dark bg-white ">


<ul id="progress" class="mt-2">
   <a href="{% url 'intro' %}" class="text-decoration-none text-white"> <li >1</li></a>
   <a href="{% url 'intro2' %}" class="text-decoration-none text-white"> <li >2</li></a>
    <a href="{% url 'intro3' %}" class="text-decoration-none text-white"><li class="active">3</li></a>
</ul>
<p style ="text-indent: 20px;" class="mt-5">
 В современном якутском алфавите содержится всего 40 букв. Из них 8 обозначают гласные звуки, 32 - согласные звуки. В основу якутского языка принят русский алфавит.
    Из 40 букв алфавита 7 букв дополнительно к русскому алфавиту для обозначения специфических якутских звуков:
     Һһ, Үү (гласные) ,Ҕҕ, Ҥҥ, Өө, Дь дь, Нь нь (согласные).
    В последних двух случаях две буквы применяются для обозначения одного звука.
    Восемь гласных букв применяются для обозначениия 20 разных самостоятельных гласных звуков:
    8 кратких гласных, 8 долгих гласных и 4 дифтонгов.
    От краткого или длительного произношения гласных зависит различение значениий или грамматических форм слов.
    Долгие гласные обозначаются двумя одинаковыми буквами. Долгие гласные произносятся протяжно, примерно в два раза
    длительнее кратких.
    </p>
    <p style ="text-indent: 20px;" >
    Для правильного произношения гласных якутского языка следует учитывать следующее:

    Гласный "ү". Для правильной его артикуляции язык должен находиться в таком же положении, как при гласном "и",
    но губы вытянуты как при звуке "у".

    Гласный "э". Звук этот примерно соответствует русскому э в таких словах, как этот, эхо, эра, т.е
    когда его произносят без призвука и в начале.

    Гласный "ө". При артикуляции данного звука язык должен находиться как при "э", а губы - как при звуке "о".
    </p>
    <p style ="text-indent: 20px;" >
        Дифтонги обозначаются двумя разными гласными буквами: иэ, үө, ыа, уо.
    Они являются сложными гласными звуками и отличаются от так называемых простых гласных тем,
    что они представляют собой как бы слитное произношение двух разных гласных.

        Для правилього произношения дифтонгов необходимо иметь в виду следующее:

        Дифтонг "иэ". Дифтонг представляет собой русский гласный в таких словах, как: мел, пел, сел, однако
    в начале его звук и слышится более четко, чем в указанных словах.

    Дифтонг "үө" напоминает собой русский гласный, произносимый в словах: лёд, мёд, рёв.
    Если вы научились правильно произносить гласный ү, то старайтесь после него сразу переходить к гласному э.

        Дифтонг "ыа" на слух походит на русский гласный е, произносимый в таких случаях, как: целый, цех.
    В конце дифтонга слышится очень краткий элемент а.

    Дифтонг "уо" походит на русский гласный произносимый в таких словах как: бор, кот, мой, сон.
    Однако если в начале гласного о в указанных словах слышится краткий элемент у, то в начале дифтонга элемент у произносится четко.
    Длительность дифтонгов почти одинакова с длительностью долгих гласных.
    </p>
    <p style ="text-indent: 20px;" >
        Согласные б, г, д, й, к, л, м, н, п, р, с, т, х, ч почти не имеют отличий от соответствующих русских звуков.
        Определенную трудность для незнакомого с якутским языком могут представлять согласные ҕ, дь, нь, ҥ, һ.

        Согласный "ҕ" по своей артикуляции близок к южно-русскому г, произносимому в таких словах как: бога, богатый, благо.

        Согласный "дь" являетсяя мягкой звонкой парой согласного ч, т.е. в отличие от последнего произносится с участием голоса, как,
    например, б, г и д в отличие от п,к и т. В русских словах аналогичный звук в заимствованных из других языков словах обозначают
    посредством дж: джаз, джем. джинсы.

        Согласный "нь" представляет собой звук, похожий на русский н, произносимый в словах: няня, Сеня.

        Согласный "ҥ" артикулируется при положении языка, соответствующем заднеязычному г,
    но с той разницей, что воздух пропускается через нос, как при м,н. Услово этот звук можно  обозначать
    сочетанием букв нг. В русском язке аналогичный звук произносится в таких словах как: Вашингтон, санкция.
    </p>
</div>
{% endblock content %}